
$font-size-base: 0.9375rem;
$input-btn-padding-y: 0.4rem;
$input-padding-y: 0.5rem;
$navbar-padding-y: 0.5rem;

@import "~bootswatch/dist/materia/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/materia/bootswatch";